@import "./_base.scss";

////////////////////////////////GLOBAL////////////////////////////////
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $black;
    @include text;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $white;
  }
  main {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content {
      width: 920px;
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 80%;
      }
      @media screen and (max-width: 600px) {
        width: 90%;
      }
    }
  }
  .simple-layout{
    a{
      padding: 0;
      margin: 0;
    }
  }

//HEADER
header {
  display: flex;
  flex-direction: column;
  height: 50vw;
  justify-content: center;
  @media screen and (min-width: 1600px) {
      height: 60vw;
  }
  @media screen and (max-width: 1024px) and (min-width: 601px) {
      height: 80vw;
  }
  @media screen and (max-width: 600px) {
      height: 200vw;
  }
  .header-content {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1fr;
      justify-content: space-between;
      @media screen and (max-width: 1024px) and (min-width: 601px) {
          grid-template-columns: 1fr 1fr;  
      }
      @media screen and (max-width: 600px) {
          display: flex;
          flex-direction: column-reverse;
      }
      .header-text {
          display: flex;
          flex-direction: column;
          .header-headline {
              @include titlebold;
              min-width: 380px;
          }
          .header-desc{
              padding: $xs 0;
              max-width: 440px;
              @media screen and (max-width: 1024px) and (min-width: 601px) {
                  min-width: 360px;
                  max-width: 90%;
              }
              @media screen and (max-width: 600px) {
                  max-width: 100%;
              }
          }
      }
      .header-image {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          @media screen and (max-width: 600px) {
              padding-bottom: $l;
          }
          .img-header {
              z-index: 1001;
              position: absolute;
              bottom: 1%;
              @media screen and (max-width: 1024px) and (min-width: 801px) {
                  max-width: 320px;
                  bottom: 13.7%;
              }
              @media screen and (max-width: 800px) and (min-width: 601px) {
                  max-width: 280px;
                  bottom: 16.4%;
              }
              @media screen and (max-width: 600px) {
                  max-width: 320px;
                  bottom: 19.2%
              }
          }
          .img-square {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $vibrantviolet;                
              width: 380px;
              height: 360px;
              @media screen and (max-width: 1024px) and (min-width: 801px) {
                  width: 250px;
                  height: 235px;
              }
              @media screen and (max-width: 801px) and (min-width: 601px) {
                  width: 230px;
                  height: 218px;
              }
              @media screen and (max-width: 600px) {
                  width: 280px;
                  height: 270px;
              }
          }
          .img-line {
              position: absolute;
              border: 3px solid $black;
              width: 345px;
              height: 360px;
              bottom: 17%;
              transform: rotate(120deg);
              @media screen and (max-width: 1024px) and (min-width: 801px) {
                  bottom: 26%;
                  width: 220px;
                  height: 230px;
              }
              @media screen and (max-width: 800px) and (min-width: 601px) {
                  bottom: 26%;
                  width: 195px;
                  height: 215px;
              }
              @media screen and (max-width: 600px) {
                  width: 260px;
                  height: 260px;
                  bottom: 34%;
              }
          }
      }
  }
}
#text-animated, #adjectives {
  @include title;
  height: 48px;
}
#text-animated:after {
  content:"";
  animation: aboutme 5s linear infinite;
}
@keyframes aboutme {
  0%, 100% { content:"teamplayer.";}
  10% { content:"curious.";}
  20% { content:"organized.";}
  30% { content:"energetic.";}
  40% { content:"funny.";}
  50% { content: "openminded.";}
  60% { content: "direct.";}
  70% { content: "warmly.";}
  80% { content: "hungry.";}
  90% { content: "plantlover.";}
}
#portrait{
  z-index: 1001;
  background-image: url('/yvonne-1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 434px;
  height: 434px;
  animation: portrait 2s linear infinite;
  @media screen and (max-width: 1024px) and (min-width: 801px) {
      width: 300px;
      height: 300px;
  }
  @media screen and (max-width: 800px) and (min-width: 601px) {
      width: 260px;
      height: 260px;
  }
  @media screen and (max-width: 600px) {
      max-width: 320px;
      height: 320px;
  }
}
@keyframes portrait {
  0%, 19% { background-image: url('/yvonne-1.png');}
  20%, 39% { background-image: url('/yvonne-2.png');}
  40%, 59% { background-image: url('/yvonne-3.png');}
  60%, 79% { background-image: url('/yvonne-4.png');}
  80%, 100% { background-image: url('/yvonne-5.png');}
}


//BUTTONS
.button-icon{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  .button-text{
    margin: $xxs 0 $xxs $xs;
    @include menu;
    background-color: $vibrantviolet;
    color: $white;
  }
  .button-image{
    background-color: $vibrantviolet;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
  }
  &:hover {     
    .button-text{
      background-color: $black;
      color: $white;
    }
    .button-image{
      background-color: $black;
      cursor: pointer;
    }
  }
}
.icon-last {
  flex-direction: row-reverse;
  .button-text{
    margin: $xxs $xxs $xxs 0;
    @include sub;
  }
  .button-image{
    background-color: $vibrantviolet;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
  }
  .button-small{
    margin: $xxs $xxs $xxs 0;
  }
}

.button-nav {
  @include menu;
  text-decoration: none;
  margin: 0 $s;
  height: 30px;
  &:active{
    background-color: $vibrantviolet;
    color: $white;
  }
  @media screen and (max-width: 1024px) and (min-width: 601px) {
    margin: 0 $xs;
  }
  @media screen and (max-width: 600px) {
    margin: 0 $xs;
  }
}
.button-inpage {
  @include menu;
  display: inline-flex;
  align-self: center;
  text-decoration: none;
  padding: $nano $xxs;
  border: 3px solid $black;
  background-color: $white;
}

.button-footer{
  margin: 0 $s;
  @media screen and (max-width: 1024px) and (min-width: 601px) {
    margin: 0 $xs;
  }
  @media screen and (max-width: 600px) {
    margin: 0;
    padding: $nano $m 0 0;
  }
}


//NAV
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $xxs 0;
  width: 100vw;
  position: relative;
  align-self: center;
  @media screen and (mIN-width: 1600px) {
    width: 1920px;
  }
  .nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 $nano;
    margin: 0 $xxs;
    @media screen and (max-width: 600px) {
      padding: 0;
      margin: 0 $nano;
     }
    a{
      padding: 0;
      margin: 0;
    }
    #logo{
      width: 48px;
      height: 48px;
      transition: transform .5s ease-in-out;
      &:hover{
        background-color: $black;
        transform: rotate(180deg);
        transition: transform .5s ease-in-out;
      }
    }
    
  }
  .nav-right{
    @media screen and (max-width: 600px) {
      display: none;
     }
  }
}


//FOOTER
.footer-content{
  display: flex;
  flex-direction: column;
  width: 920px;
  height: 30vw;
  justify-content: center;
  align-self: center;
    @media screen and (min-width: 1600px) {
      height: 50vw;
    }
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 80%;
        height: 60vw;
      }
      @media screen and (max-width: 600px) {
        width: 90%;
        height: 100vw;
      }
    .slogan-right{
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 600px) {
          justify-content: flex-start;
        }
    }
}

footer{
  width: 100vw;
  a{
    @include sub;
  }
  @media screen and (min-width: 1600px) {
    width: 1920px;
  }
  @media screen and (max-width: 600px) {
    width: 90%;
  }
  .footer-links{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: $xxs 0;
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
      .footer-legal{
        @media screen and (max-width: 600px) {
          padding-bottom: $xs;
        }
      }
      .footer-contact{
        @media screen and (max-width: 600px) {
          padding-bottom: $xs;
        }
        .socialmedia{
          display: flex;
          flex-direction: row;
          @media screen and (max-width: 600px) {
            flex-direction: column;
          }
          .trenner{
            width: 1px;
            height: 18px;
            background-color: $black;
            @media screen and (max-width: 600px) {
              display: none;
            }
          }
        }
      }
      .footer-about{
        li{ 
          align-items: flex-end;
          @media screen and (max-width: 600px) {
            align-items: flex-start;
          }
          .job{
            @include sub;
            margin: 0 $s;
            padding: 0 $nano;
            @media screen and (max-width: 600px) {
              margin: 0;
              padding: $nano 0;
            }
          }   
        }
      }
  }
}

#adjectives:after {
  content:"";
  animation: adjectives 5s linear infinite;
}
@keyframes adjectives {
  0%, 100% { content:"great";}
  10% { content:"new";}
  20% { content:"awesome";}
  30% { content:"intuitive";}
  40% { content:"fun";}
  50% { content: "interactive";}
  60% { content: "exciting";}
  70% { content: "easy";}
  80% { content: "fancy";}
  90% { content: "useful";}
}


//SLOGAN
.slogan-text {
  display: flex;
  flex-direction: row;
  @include title;
  .slogan-highlight {
      display: flex;
      flex-direction: column;
      .highlight-text {
          @include title;
      }
      .highlight-line {
          width: 100%;
          height: 3px;
          background-color: $black;
      }
      .no-line{
        display: none;
      }
  }
  .slogan-icon{
    background-color: $black;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    align-self: center;
    margin-left: $xxs;
  }
}