@import "./_base.scss";

//BASE
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $black;
    @include text;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $white;
  }
  main {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content {
      width: 920px;
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 80%;
      }
      @media screen and (max-width: 600px) {
        width: 90%;
      }
    }
  }
  .simple-layout{
    a{
      padding: 0;
      margin: 0;
    }
  }

//BUTTONS
.button-icon{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  .button-text{
    margin: $xxs 0 $xxs $xs;
    @include menu;
    background-color: $vibrantviolet;
    color: $white;
  }
  .button-image{
    background-color: $vibrantviolet;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
  }
  &:hover {     
    .button-text{
      background-color: $black;
      color: $white;
    }
    .button-image{
      background-color: $black;
      cursor: pointer;
    }
  }
}
.icon-last {
  flex-direction: row-reverse;
  .button-text{
    margin: $xxs $xs $xxs 0;
  }
}
.button-nav {
  @include menu;
  text-decoration: none;
  margin: 0 $s;
  height: 30px;
  &:active{
    background-color: $vibrantviolet;
    color: $white;
  }
  @media screen and (max-width: 1024px) and (min-width: 601px) {
    margin: 0 $xs;
  }
  @media screen and (max-width: 600px) {
    margin: 0 $xs;
  }
}
.button-inpage {
  @include menu;
  display: inline-flex;
  align-self: center;
  text-decoration: none;
  padding: $nano $xxs;
  border: 3px solid $black;
  background-color: $white;
}

.button-footer{
  margin: 0 $s;
  @media screen and (max-width: 1024px) and (min-width: 601px) {
    margin: 0 $xs;
  }
  @media screen and (max-width: 600px) {
    margin: 0;
    padding: $nano $m 0 0;
  }
}


//NAV
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $xxs 0;
  width: 100vw;
  position: relative;
  align-self: center;
  @media screen and (mIN-width: 1600px) {
    width: 1920px;
  }
  .nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 $nano;
    margin: 0 $xxs;
    @media screen and (max-width: 600px) {
      padding: 0;
      margin: 0 $nano;
     }
    a{
      padding: 0;
      margin: 0;
    }
    #logo{
      width: 48px;
      height: 48px;
      transition: transform .5s ease-in-out;
      &:hover{
        background-color: $black;
        transform: rotate(180deg);
        transition: transform .5s ease-in-out;
      }
    }
    
  }
  .nav-right{
    @media screen and (max-width: 600px) {
      display: none;
     }
  }
}

//FOOTER
.footer-content{
  display: flex;
  flex-direction: column;
    width: 920px;
    align-self: center;
    padding: 160px 0 $huge 0;
    @media screen and (min-width: 1600px) {
      padding: $huge 0 260px 0;
    }
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 80%;
      }
      @media screen and (max-width: 600px) {
        width: 90%;
        padding: $xxl 0 $huge 0;
      }
    .slogan-right{
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 600px) {
          justify-content: flex-start;
        }
    }
}

footer{
  width: 100vw;
  a{
    @include sub;
  }
  @media screen and (min-width: 1600px) {
    width: 1920px;
  }
  @media screen and (max-width: 600px) {
    width: 90%;
  }
  .footer-links{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: $xxs 0;
      @media screen and (max-width: 600px) {
        flex-direction: column;
        padding: 0 0 $xxs 0;
      }
      .footer-legal{
        @media screen and (max-width: 600px) {
          padding-bottom: $xs;
        }
      }
      .footer-contact{
        @media screen and (max-width: 600px) {
          padding-bottom: $xs;
        }
        .socialmedia{
          display: flex;
          flex-direction: row;
          @media screen and (max-width: 600px) {
            flex-direction: column;
          }
          .trenner{
            width: 1px;
            height: 20px;
            background-color: $black;
            @media screen and (max-width: 600px) {
              display: none;
            }
          }
        }
      }
      .footer-about{
        li{ 
          align-items: flex-end;
          @media screen and (max-width: 600px) {
            align-items: flex-start;
          }
          .job{
            @include sub;
            margin: 0 $s;
            padding: 0 $nano;
            @media screen and (max-width: 600px) {
              margin: 0;
              padding: $nano 0;
            }
          }   
        }
      }
  }
}

#adjectives:after {
  content:"";
  animation: adjectives 5s linear infinite;
}
@keyframes adjectives {
  0%, 100% { content:"great";}
  10% { content:"new";}
  20% { content:"awesome";}
  30% { content:"intuitive";}
  40% { content:"fun";}
  50% { content: "interactive";}
  60% { content: "exciting";}
  70% { content: "easy";}
  80% { content: "fancy";}
  90% { content: "useful";}
}

//SLOGAN
.slogan-text {
  display: flex;
  flex-direction: row;
  @include title;
  .slogan-highlight {
      display: flex;
      flex-direction: column;
      .highlight-text {
          @include title;
      }
      .highlight-line {
          width: 100%;
          height: 3px;
          background-color: $black;
      }
      .no-line{
        display: none;
      }
  }
  .slogan-icon{
    background-color: $black;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    align-self: center;
    margin-left: $xxs;
  }
}