@import "./_base.scss";

//BASE
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $black;
    @include text;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $white;
  }
  main {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content {
      width: 920px;
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 80%;
      }
      @media screen and (max-width: 600px) {
        width: 90%;
      }
    }
  }

//NAV
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $xxs 0;
  .nav-left{
  }
  .nav-right{
    @media screen and (max-width: 600px) {
      display: none;
     }
  }
}

//FOOTER
.footer-content{
  display: flex;
  flex-direction: column;
    width: 920px;
    align-self: center;
    padding: 160px 0 $huge 0;
    @media screen and (min-width: 1600px) {
      padding: $huge 0 260px 0;
    }
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 80%;
      }
      @media screen and (max-width: 600px) {
        width: 90%;
        padding: $xxl 0 $huge 0;
      }
    .slogan-right{
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 600px) {
          justify-content: flex-start;
        }
    }
}
footer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  @media screen and (max-width: 600px) {
    width: 90%;
    li{
      flex-direction: row;
    }
  }
  .footer-links{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: $xxs 0;
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
      .button-footer{
        margin: 0 $s;
        @media screen and (max-width: 600px) {
          margin: 0;
          padding: $nano $m 0 0;
        }
      }
      .contact{        
        li {
          @media screen and (max-width: 600px) {
          flex-direction: column;
        }      
        .socialmedia{
          display: flex;
          flex-direction: row;
          .trenner{
            width: 1px;
            height: 24px;
            background-color: $black;
            @media screen and (max-width: 600px) {
              height: 14px;
              margin: $nano $m 0 0;
            }
          }
        }
        }
      }
      .about{
        li{ 
          align-items: flex-end;
          @media screen and (max-width: 600px) {
            align-items: flex-start;
          }
          .job{
            @include sub;
            margin: 0 $s;
            padding: 0 $nano;
            @media screen and (max-width: 600px) {
              margin: 0;
              padding: $nano 0;
  
            }
          }   
        }
      }
  }
}

//BUTTONS
.button-icon{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  .button-text{
    margin: $xxs $xs;
    @include menu;
    background-color: $vibrantviolet;
    color: $white;
  }
  .button-image{
    background-color: $vibrantviolet;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
  }
  &:hover {     
    .button-text{
      background-color: $black;
      color: $white;
    }
    .button-image{
      background-color: $black;
    }
  }
}
.button-nav {
  @include menu;
  text-decoration: none;
  margin: 0 $s;
  height: 30px;
  &:active{
    background-color: $vibrantviolet;
    color: $black;
  }
}
.button-inpage {
  @include menu;
  display: inline-flex;
  align-self: center;
  text-decoration: none;
  padding: $nano $xxs;
  border: 3px solid $black;
  background-color: $white;
}


//SLOGAN
.slogan-text {
  display: flex;
  flex-direction: row;
  @include title;
  .slogan-highlight {
      display: flex;
      flex-direction: column;
      .highlight-text {
          @include title;
      }
      .highlight-line {
          width: 100%;
          height: 3px;
          background-color: $black;
      }
  }
  .slogan-icon{
    background-color: $black;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    align-self: center;
    margin-left: $xxs;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
      display: none;
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}
#text-animated:after {
  content:"";
  animation: text-animated 4s linear infinite;
}


//background
.background{
  width: 100%;
  .background-container{
    position: absolute;
    z-index: -1;
    .blob1{
      position: absolute;
      top: -6vw;
      @media screen and (min-width: 1600px) {
        width: 600px;
        top: -4vw;
        left: 6vw;
      }
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 400px;
        top: 4vw;
        left: -4vw;
      }
      @media screen and (max-width: 600px) {
        width: 300px;
        top: 90vw;
        left: -8vw;
      }
    }
    .blob2{
      position: absolute;
      left: 80vw;
      top: -4vw;
      @media screen and (min-width: 1600px) {
        width: 600px;
        top: 4vw;
        left: 74vw;
      }
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 400px;
        top: 16vw;
      }
      @media screen and (max-width: 600px) {
        width: 300px;
        top: -20vw;
        left: 70vw;
      }
    }
    .blob3{
      position: absolute;
      top: 24vw;
      left: 8vw;
      @media screen and (min-width: 1600px) {
        width: 600px;
        top: 16vw;
        left: 22vw;
      }
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 400px;
        top: 54vw;
        left: 6vw;
      }
      @media screen and (max-width: 600px) {
        width: 300px;
        top: 150vw;
        left: 0vw;
      }
    }
    .blob4{
      position: absolute;
      top: 40vw;
      left: 38vw;
      @media screen and (min-width: 1600px) {
        width: 600px;
        top: 34vw;
        left: 42vw;
      }
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 400px;
        top: 80vw;
      }
      @media screen and (max-width: 600px) {
        width: 300px;
        top: 200vw;
        left: 24vw;
      }
    }
    .blob5{
      position: absolute;
      top: 78vw;
      left: -6vw;
      @media screen and (min-width: 1600px) {
        width: 600px;
        top: 60vw;
        left: 2vw;
      }
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 400px;
        top: 130vw;
        right: 0;
        left: -14vw;
      }
      @media screen and (max-width: 600px) {
        width: 300px;
        top: 300vw;
        left: -24vw;
      }
    }
    .blob6{
      position: absolute;
      top: 86vw;
      left: 90vw;
      @media screen and (min-width: 1600px) {
        width: 600px;
        top: 72vw;
        left: 92vw;
      }
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 400px;
        top: 146vw;
        left: 86vw;
      }
      @media screen and (max-width: 600px) {
        width: 300px;
        top: 400vw;
        left: 66vw;
      }
    }
    .blob7{
      position: absolute;
      top: 112vw;
      left: 22vw;
      @media screen and (min-width: 1600px) {
        width: 600px;
        top: 92vw;
        left: 28vw;
      }
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 400px;
        top: 186vw;
        left: 18vw;
      }
      @media screen and (max-width: 600px) {
        width: 300px;
        top: 510vw;
        left: 4vw;
      }
    }
    .blob8{
      position: absolute;
      top: 130vw;
      left: 56vw;
      @media screen and (min-width: 1600px) {
        width: 600px;
        top: 112vw;
        left: 52vw;
      }
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 400px;
        top: 220vw;
        left: 54vw;
      }
      @media screen and (max-width: 600px) {
        width: 300px;
        top: 578vw;
        left: 32vw;
      }
    }
    .blob9{
      position: absolute;
      top: 154vw;
      left: -20vw;
      @media screen and (min-width: 1600px) {
        width: 600px;
        top: 128vw;
        left: -12vw;
      }
      @media screen and (max-width: 1024px) and (min-width: 601px) {
        width: 400px;
        top: 256vw;
      }
      @media screen and (max-width: 600px) {
        width: 300px;
        top: 644vw;
        left: -30vw;
      }
    }
  }
}