@import "./_styleguide.scss";
@import "./_base.scss";

////////////////////////////////MAIN////////////////////////////////

//CONTENT
.content {
    display: flex;
    flex-direction: column;
}

//CARD
#card {
    a {
        margin: 0;
        padding: 0;
    }
    .preview-image {
        position: relative;
        width: 100%;
        height: auto;
        img {
            display: block;
            width: 100%;
            filter: grayscale(100);
            transition: all 0.2s ease-in-out; 
            @media screen and (max-width: 600px) {
                filter: grayscale(0);
            }
        }    
    }
    .card-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: $xxs $xs;
        border: 3px solid $black;
        background-color: $white;
        transition: background-color 0.2s ease-in-out; 
    }
    &:hover {    
        .card-text {
            background-color: $black;
            color: $white;
        }
        h3 {
            color: $white;
        }
        img {
            filter: grayscale(0);
            @media screen and (max-width: 600px) {
                filter: grayscale(100);
            }
        }
    }
}
#projects {
    padding: $s 0 $xxl 0;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        padding: $s 0 $xl 0;
    }
    @media screen and (max-width: 600px) {
        padding: $s 0 $xl 0;
    }
}

#card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $m;
    row-gap: $m;
    padding: $m 0 $xl 0;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        column-gap: $s;
        row-gap: $s;
        padding: $m 0;
      }
    @media screen and (max-width: 600px) {
        display: flex;
        column-gap: $xs;
        row-gap: $m;
        padding: $s 0 $s 0;
        flex-direction: column;
    }
}

////////////////////////////////PAGES////////////////////////////////

//ABOUTME
#aboutme {
    display: flex;
    flex-direction: column;
    #skill-container {
        display: grid;
        padding: $s 0 $l 0;
        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }
    #tools-container {
        .tool-title {
            @include title;
        }
        .logo-container {
            padding: 0 0 $nano 0;
            .tool-logo{
                width: 48px;
                height: 48px;
                margin: 0 $s 0 0;
                @media screen and (max-width: 600px) {
                    margin: 0 $s $s 0;
                }
            }
        }

    }
    .career-visual {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100vw;
        margin: $xxl 0 $l 0;
        @media screen and (max-width: 1024px) and (min-width: 601px) {
            margin: $l 0 $m 0;
            height: 350px;
        }
        @media screen and (max-width: 600px) {
            margin: $l 0 $m 0;
            height: 250px;
        }
        svg {
            width: 90vw;
            @media screen and (max-width: 600px) {
                width: 96vw;
            }
            path {
                @media screen and (max-width: 1024px) and (min-width: 601px) {
                    stroke-width: 5px;
                  }
                @media screen and (max-width: 600px) {
                    stroke-width: 9px;
                }
            }
            .path-dash {
                @media screen and (max-width: 1024px) and (min-width: 601px) {
                    stroke-width: 5px;
                    stroke-dasharray: 5 5;
                  }
                @media screen and (max-width: 600px) {
                    stroke-width: 9px;
                    stroke-dasharray: 9 9;
                }
            }
        }
    }
    .career-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: $l;
        @media screen and (max-width: 600px) {
            flex-direction: column-reverse;
            row-gap: $xxs;
        }
        .career-text {
            display: flex;
            flex-direction: column;
            row-gap: $xxs;
            .event-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 80px;
                background-color: $vibrantviolet;
                margin-bottom: $nano;
                b, h1 {
                    color: $white;
                    padding: 0;
                    margin: 0;
                    line-height: .9;
                }
                @media screen and (max-width: 600px) {
                    width: 64px;
                    height: 64px;
                }
            }            
        }
    }
}

//COMING SOON
.comingsoon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 300px 0 360px 0;
    p {
        padding: $s;
        text-align: center;
    }
}

//LEGAL
.legal {
    padding: 160px 0 $huge 0;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        padding: $xxl 0 $xxl 0;
      }
    @media screen and (max-width: 600px) {
        padding: $xxl 0 $xxl 0;
    }
}

//PLAYGROUND
#playground {
    display: flex;
    flex-direction: column;
    height: 47vw;
    justify-content: center;
}


////////////////////////////////PROJECTPAGES////////////////////////////////

#project-content-container {
    display: flex;
    flex-direction: column;
    padding: $xl 0 $xl 0;
    @media screen and (max-width: 600px) {
        padding: $l 0 $m 0;          
    }
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $xl;
    row-gap: $l;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        column-gap: $l;
        row-gap: $l;
      }
    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        column-gap: $xs;
        row-gap: $xs;    
    }
    .card-headline {
        padding-bottom: $xxs;
    }
}
.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    column-gap: $m;
    row-gap: $l;
    padding: $l 0 $m 0;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        column-gap: $m;
        row-gap: $m;
      }
    @media screen and (max-width: 768px) and (min-width: 601px){
        grid-template-columns: 1fr 1fr;
        padding: $m 0 $m 0;
    }
    @media screen and (max-width: 600px) {
        column-gap: $xs;
        row-gap: $m;  
        padding: $xs 0;  
        grid-template-columns: 1fr;
    }
    .card-headline {
        padding-bottom: $xxs;
    }
}

.special {
    .card-headline {
        padding: $xxs $xs;
        border: 3px solid $black;
    }
    .image-text-content {
        display: flex;
        flex-direction: column-reverse;
        .project-image{
            padding-top: 0;
        }
    }
}

#hero-image {
    display: flex;
    flex-direction: column;
    .hero-mobile {
        display: none;
        @media screen and (max-width: 600px) {
            display: block;
        }
    }
    .hero-desktop {
        display: block;
        @media screen and (max-width: 600px) {
            display: none;
        }
    }
    .hero-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: $xs $s;
        border: 3px solid $black;
        @media screen and (max-width: 600px) {
            padding: $xxs $xs;
        }
        .project-subtitle {
            font-weight: 800;
        }
        .project-headline {
            display: flex;
            flex-direction: column;
        }
        .project-date {
            align-self: flex-start;
            @media screen and (max-width: 600px) {
                display: none;         
            }
        }
    }

}

.project-text {
    padding: $m 0;
    h3 {
        padding: 0 0 $nano 0;
    }
    @media screen and (max-width: 600px) {
        padding: $nano 0;        
    }
}

#infobox {
    display: flex;
    flex-direction: column;
    .project-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: $m 0;
        @media screen and (max-width: 600px) {
            padding: $s 0;
        }
        .project-team, .project-tools, .project-tags, .project-links {
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 600px) {
                padding: $xs 0;
            }
        }
    }
}
.team-container, .tool-container, .tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $nano 0 $nano 0;
}
.teammember, .project-tool {
    width: fit-content;
    height: 36px;
    margin: 0 $xxs 0 0;
}

#project-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $m;
    row-gap: $m;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        column-gap: $s;
        row-gap: $s;
      }
    @media screen and (max-width: 600px) {
        display: flex;
        column-gap: $xs;
        row-gap: $xs;
        flex-direction: column;
        padding: 0 0 $m 0;
    }
}