@import "./_styleguide.scss";
@import "./_base.scss";

////////////////////////////////MAIN////////////////////////////////

//CONTENT
.content{
    display: flex;
    flex-direction: column;
}

//CARD
#card{
    a{
        margin: 0;
        padding: 0;
    }
    .preview-image {
        position: relative;
        line-height: 0;
        img{
            display: block;
            width: 100%;
            filter: grayscale(100);
            transition: filter 0.2s ease-in-out; 
            @media screen and (max-width: 600px) {
                filter: grayscale(0);
            }
        }    
    }
    .card-text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: $xxs $xs;
        border: 3px solid $black;
        background-color: $white;
        transition: background-color 0.2s ease-in-out; 
    }
    &:hover {    
        .card-text{
            background-color: $black;
            color: $white;
        }
        h4{
            color: $white;
        }
        img{
            filter: grayscale(0);
            @media screen and (max-width: 600px) {
                filter: grayscale(100);
            }
        }
    }
}
#projects{
    padding: $s 0 0 0;
    .projects-preview{
        padding-bottom: $xs;
        @media screen and (max-width: 1024px) and (min-width: 601px) {
            padding-bottom: $xxs;
        }
        @media screen and (max-width: 600px) {
            padding-bottom: $nano;
        }
    }
}

#card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $m;
    row-gap: $m;
    padding: $m 0 $xxl 0;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        column-gap: $s;
        row-gap: $s;
        padding: $m 0 $xl 0;
      }
    @media screen and (max-width: 600px) {
        display: flex;
        column-gap: $xs;
        row-gap: $xs;
        padding: $s 0 $xl 0;
        flex-direction: column;
    }
}

////////////////////////////////PAGES////////////////////////////////

//ABOUTME
#aboutme {
    display: flex;
    flex-direction: column;
    padding: $s 0 $xxl 0;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        padding: $s 0 $xl 0;
    }
    @media screen and (max-width: 600px) {
        padding: $s 0 $xl 0;
    }
    .career-visual{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100vw;
        margin: $xxl 0 $l 0;
        @media screen and (max-width: 1024px) and (min-width: 601px) {
            margin: $l 0 $m 0;
            height: 350px;
        }
        @media screen and (max-width: 600px) {
            margin: $l 0 $m 0;
            height: 250px;
        }
        .career-img{
            width: 90vw;
            stroke-width: 1px;
            @media screen and (max-width: 1024px) and (min-width: 601px) {
                stroke-width: 2px;
              }
            @media screen and (max-width: 600px) {
                stroke-width: 3px;
            }
        }
    }
    .career-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: $l;
        .career-currently{
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 600px) {
                flex-direction: column-reverse;
            }
            .currently{
                padding-left: $m;
                @media screen and (max-width: 600px) {
                    padding: 0;
                }
            }
        }
        .career-text{
            .event{
                padding-bottom: 12px;
            }
        }
    }
}

//COMING SOON
.comingsoon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 300px 0 360px 0;
    p{
        padding: $s;
        text-align: center;
    }
}

//LEGAL
.legal{
    padding: 160px 0 $huge 0;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        padding: $xxl 0 $xxl 0;
      }
    @media screen and (max-width: 600px) {
        padding: $xxl 0 $xxl 0;
    }
}


////////////////////////////////PROJECTPAGES////////////////////////////////

#project-content-container{
    display: flex;
    flex-direction: column;
    padding: $xl 0 $xxl 0;
    @media screen and (max-width: 600px) {
        padding: $l 0 $s 0;          
    }
}
#hero-image{
    display: flex;
    flex-direction: column;
    .hero-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0 $s 0;
        @media screen and (max-width: 600px) {
            flex-direction: column-reverse;
        }
        .project-subtitle{
        }
        .project-headline{
            display: flex;
            flex-direction: column;
        }
        .project-date{
            @include info;
            align-self: flex-end;
            @media screen and (max-width: 600px) {
                align-self: flex-start; 
                display: none;
                padding: 2px 0;           
            }
        }
    }

}

.facts-mobile{
    display: none;
    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        padding: $s 0 0 0;
        .project-team, .project-tools, .project-tags, .project-links{
            display: flex;
            flex-direction: column;
            padding: $xxs 0 $nano 0;
        }
    }
}
#project-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: $m 0 $l 0;
    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 0;
    }
    .project-text-container{
        padding: 0 $m $xs 0;
        @media screen and (max-width: 1024px) and (min-width: 601px) {
            padding: 0 $s $xs 0;
          }
        @media screen and (max-width: 600px) {
            padding: $xs 0 $s 0;        
        }
    }
    .project-text{
        padding: 0 $m $xs 0;
        h4{
            padding: 0 0 $nano 0;
        }
        @media screen and (max-width: 1024px) and (min-width: 601px) {
            padding: 0 $s $xs 0;
          }
        @media screen and (max-width: 600px) {
            padding: $xxs 0;        
        }
    }
    #project-facts{
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 600px) {
            padding: $s 0 0 0;
            display: none;
        }
        .project-team, .project-tools, .project-tags, .project-links{
            display: flex;
            flex-direction: column;
            padding: 0 0 $xs 0;
        }
    }
}
.team-container, .tool-container, .tag-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $nano 0 $nano 0;
}
.teammember, .project-tool{
    width: 36px;
    height: 36px;
    margin: 0 $xxs 0 0;
}
.onetag-container{
    padding: 0 $nano $nano 0;
}

#project-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $m;
    row-gap: $m;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        column-gap: $s;
        row-gap: $s;
      }
    @media screen and (max-width: 600px) {
        display: flex;
        column-gap: $xs;
        row-gap: $xs;
        flex-direction: column;
        padding: 0 0 $m 0;
    }
}
.project-image{
    img{
        display: block;
        width: 100%;
    }  
    .image-desc{
        @include info;
        display: flex;
        justify-content: flex-end;
        padding: $nano 0;
    }
}
.img-padding{
    padding: 0 0 $s 0;
}