@import "./_styleguide.scss";
@import "./_base.scss";

//HEADER
header {
    display: flex;
    flex-direction: column;
    padding: $huge 0 $huge 0;
    @media screen and (min-width: 1600px) {
        padding: 240px 0 280px 0;
      }
    @media screen and (max-width: 600px) {
        padding: $xxl 0 $xxl 0;
    }
    .header-content {
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: space-between;
        @media screen and (max-width: 1024px) and (min-width: 601px) {
            grid-template-columns: 1fr 1fr;  
        }
        @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column-reverse;
        }
        .header-text {
            display: flex;
            flex-direction: column;
            .header-headline {
                @include titlebold;
                min-width: 380px;
            }
            .header-desc{
                padding: $xs 0;
                max-width: 440px;
                @media screen and (max-width: 1024px) and (min-width: 601px) {
                    min-width: 360px;
                    max-width: 90%;
                }
                @media screen and (max-width: 600px) {
                    max-width: 100%;
                }
            }
        }
        .header-image {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @media screen and (max-width: 600px) {
                padding-bottom: $l;
            }
            .img-header {
                z-index: 1001;
                position: absolute;
                bottom: 1%;
                @media screen and (max-width: 1024px) and (min-width: 801px) {
                    max-width: 320px;
                    bottom: 13.7%;
                }
                @media screen and (max-width: 800px) and (min-width: 601px) {
                    max-width: 280px;
                    bottom: 16.4%;
                }
                @media screen and (max-width: 600px) {
                    max-width: 320px;
                    bottom: 19.2%
                }
            }
            .img-square {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $vibrantviolet;                
                width: 380px;
                height: 360px;
                @media screen and (max-width: 1024px) and (min-width: 801px) {
                    width: 250px;
                    height: 235px;
                }
                @media screen and (max-width: 801px) and (min-width: 601px) {
                    width: 230px;
                    height: 218px;
                }
                @media screen and (max-width: 600px) {
                    width: 280px;
                    height: 270px;
                }
            }
            .img-line {
                position: absolute;
                border: 3px solid $black;
                width: 345px;
                height: 360px;
                bottom: 17%;
                transform: rotate(120deg);
                @media screen and (max-width: 1024px) and (min-width: 801px) {
                    bottom: 26%;
                    width: 220px;
                    height: 230px;
                }
                @media screen and (max-width: 800px) and (min-width: 601px) {
                    bottom: 26%;
                    width: 195px;
                    height: 215px;
                }
                @media screen and (max-width: 600px) {
                    width: 260px;
                    height: 260px;
                    bottom: 34%;
                }
            }
        }
    }
}

#text-animated, #adjectives {
    @include title;
    height: 48px;
  }
  #text-animated:after {
    content:"";
    animation: aboutme 5s linear infinite;
  }
  @keyframes aboutme {
    0%, 100% { content:"teamplayer.";}
    10% { content:"curious.";}
    20% { content:"organized.";}
    30% { content:"energetic.";}
    40% { content:"funny.";}
    50% { content: "openminded.";}
    60% { content: "direct.";}
    70% { content: "warmly.";}
    80% { content: "hungry.";}
    90% { content: "plantlover.";}
  }

#portrait{
    z-index: 1001;
    background-image: url('/yvonne-1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 434px;
    height: 434px;
    animation: portrait 2s linear infinite;
    @media screen and (max-width: 1024px) and (min-width: 801px) {
        width: 300px;
        height: 300px;
    }
    @media screen and (max-width: 800px) and (min-width: 601px) {
        width: 260px;
        height: 260px;
    }
    @media screen and (max-width: 600px) {
        max-width: 320px;
        height: 320px;
    }
}
@keyframes portrait {
    0%, 19% { background-image: url('/yvonne-1.png');}
    20%, 39% { background-image: url('/yvonne-2.png');}
    40%, 59% { background-image: url('/yvonne-3.png');}
    60%, 79% { background-image: url('/yvonne-4.png');}
    80%, 100% { background-image: url('/yvonne-5.png');}
}

////PROJECTS
//NAV
.menu-nav {
    display: flex;
    flex-direction: column;
    padding-top: $xs;
    .inpage-nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        li{
            display: contents;
        }
    }        
}

//CONTENT
.content{
    display: flex;
    flex-direction: column;
}

//CARD
#card{
    a{
        margin: 0;
        padding: 0;
    }
    .preview-image {
        position: relative;
        line-height: 0;
        img{
            display: block;
            width: 100%;
            filter: grayscale(100);
        }    
    }
    .card-text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: $xxs $xs;
        border: 3px solid $black;
        background-color: $white;
    }
    &:hover {     
        .card-text{
            background-color: $black;
            color: $white;
        }
        h4{
            color: $white;
        }
        img{
            filter: grayscale(0);
        }
    }
}
.projects-preview{
    @include title;
    padding-bottom: $xs;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        padding-bottom: $xxs;
    }
    @media screen and (max-width: 600px) {
        padding-bottom: $nano;
    }
}
#card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $m;
    row-gap: $m;
    padding: $m 0 $xxl 0;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        column-gap: $s;
        row-gap: $s;
        padding: $m 0 $xxl 0;
      }
    @media screen and (max-width: 600px) {
        display: flex;
        column-gap: $xs;
        row-gap: $xs;
        flex-direction: column;
    }
}

////////////////////////////////PAGES////////////////////////////////

//ABOUTME
#aboutme {
    display: flex;
    flex-direction: column;
    padding: $m 0 $huge 0;
    .career{
        padding: $xxl 0 $xl 0;
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100vw;
        @media screen and (max-width: 1024px) and (min-width: 601px) {
            padding: 0;
            height: 350px;
        }
        @media screen and (max-width: 600px) {
            padding: 0;
            height: 250px;
        }
        .career-img{
            width: 90vw;
            stroke-width: 1px;
            @media screen and (max-width: 1024px) and (min-width: 601px) {
                stroke-width: 2px;
              }
            @media screen and (max-width: 600px) {
                stroke-width: 4px;
            }
        }
    }
    .career-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: $l;
        .career-currently{
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 600px) {
                flex-direction: column-reverse;
            }
            .currently{
                padding-left: $m;
                @media screen and (max-width: 600px) {
                    padding: 0;
                }
            }
        }
        .career-text{
            .event{
                padding-bottom: 12px;
            }
        }
    }
}


//COMING SOON
.comingsoon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 300px 0 360px 0;
    p{
        padding: $s;
        text-align: center;
    }
}

//LEGAL
.legal{
    padding: 160px 0 $huge 0;
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        padding: $xxl 0 $xxl 0;
      }
    @media screen and (max-width: 600px) {
        padding: $xxl 0 $xxl 0;
    }
}